<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cabochon</key>
	<string>Highly polished convex gem</string>
	<key>caboched</key>
	<string>Heraldic animal shown in full face with no neck or body</string>
	<key>cabasset</key>
	<string>Light iron helmet</string>
	<key>cabas</key>
	<string>Woman&apos;s work basket or handbag</string>
	<key>caballine</key>
	<string>Of, like or pertaining to or suited to a horse</string>
	<key>bacchanal</key>
	<string>Drunkard; reveller</string>
	<key>baccate</key>
	<string>Having berries; berry-like</string>
	<key>baboonery</key>
	<string>Foolishness; stupidity; nonsense</string>
	<key>babirusa</key>
	<string>Large wild pig of Indonesia</string>
	<key>babeldom</key>
	<string>A confused sound of voices</string>
	<key>abaculus</key>
	<string>Small tile for mosaic</string>
	<key>abactor</key>
	<string>Cattle thief</string>
	<key>abacinate</key>
	<string>To blind by putting red-hot copper basin near the eyes</string>
	<key>aba</key>
	<string>Garment of camel or goat hair</string>
	<key>aardwolf</key>
	<string>South African carnivorous fox-like quadruped</string>
</dict>
</plist>
